.coin-convert-form {
    background: #ffebeb;
}

#to {
    color: #272727;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    background: #e2e2e2;
}

.swap-form-icon {
    display: flex;
    justify-content: center;
    align-items: self-end;
    height: 54px;
}

.dropdown-search {
    width: 100%;
    position: absolute;
    flex-direction: column;
    z-index: 99;
    background: #f8fafc;
    padding: 10px;
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    max-height: 300px;
    overflow-y: scroll;
}

.dropdown-search-item {
    text-decoration: none;
    background-color: transparent;
}

.dropdown-search-item:hover {
    background: #edbac0;
}

.dropdown-item-text {
    color: #ed6e73;
    cursor: pointer;
    border-bottom: 1px solid #e6e2e2;
}

.dropdown-item-text:hover {
    color: #ed3839;
    font-weight: bold;
}
