$menu-color: #615253;
$menu-color-hover: #ff9100;
$menu-bkg-color: #564a4a;

#menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: fixed;
    right: -600px;
    padding: 20px;
    width: 600px;
    height: auto;
    background: $menu-bkg-color;
    margin: 0;
    box-shadow: 0px 1px 5px;
    z-index: 99;

    .menu-item {
        margin: 10px;
    }

    .menu-item > a {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #ffab40;
    }

    .menu-item > a:hover {
        color: $menu-color-hover;
    }
}

@media screen and (max-width: 640px){
    #menu {
        width: 100%;
    }
}

