@import '~materialize-css';

@import 'menu';
@import 'content';
@import "contentAd";

body {

}

.container {
    box-shadow: 0px 0px 9px;
    min-height: calc(100vh - 72px - 64px + 10px);
    margin-top: -10px !important;
}

.ffooter {
    text-align: center;
    background: #655556 !important;
    padding-top: 0 !important;
    .footer-copyright {
        justify-content: center !important;
    }
}

@media (max-width: 640px) {

}
